.post-component {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    transition: transform 0.3s;
}

.post-component:hover {
    transform: translateY(-5px);
}

.post-component-image {
    width: 50%;
    height: 200px;
    object-fit: cover;
}

.post-component-content {
    padding: 16px;
}

.post-component-title {
    margin: 0;
    font-size: 1.5em;
    color: white
}

.post-component-date {
    margin: 8px 0;
    font-size: 0.9em;
    color: lightgreen;
}

.post-component-summary {
    margin: 8px 0;
    color: white
}

.post-component-link {
    text-decoration: none;
    color: #007bff;
}

/* CSS for mobile view */
@media only screen and (max-width: 600px) {
    .post-component {
        margin: 10px; /* Adjust margin for mobile */
    }

    .post-component-image {
        width: 100%; /* Make image full width for mobile */
        height: 150px; /* Adjust image height for mobile */
    }

    .post-component-content {
        padding: 10px; /* Adjust padding for mobile */
    }

    .post-component-title {
        font-size: 1.2em; /* Adjust font size for mobile */
    }

    .post-component-date {
        font-size: 0.8em; /* Adjust font size for mobile */
    }

    .post-component-summary {
        font-size: 0.9em; /* Adjust font size for mobile */
    }
}