.post-component {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    transition: transform 0.3s;
}

.post-component:hover {
    transform: translateY(-5px);
}

.post-component-image {
    width: 50%;
    height: 200px;
    object-fit: cover;
}

.post-component-content {
    padding: 16px;
}

.post-component-title {
    margin: 0;
    font-size: 1.5em;
    color: white
}

.post-component-date {
    margin: 8px 0;
    font-size: 0.9em;
    color: lightgreen;
}

.post-component-summary {
    margin: 8px 0;
    color: white
}

.post-component-link {
    text-decoration: none;
    color: #007bff;
}